@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.glitchnew {
  width: 28vw;
  height: 28vw;
  background: url("/images/myimage.jpeg");
  background-size: cover;
  inset: auto;
  position: relative;
  border-radius: 12px;
}

.glitchmobile {
  width: 40vw !important;
  height: 40vw !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
